<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home.css" />
<%- include('./partials/nav') %>

<main>
  <h1 class="home-pg">Hello, <%= user ? user.profile.name : "Food Lover" %></h1>
  <h2 class="home-pg">Welcome to recipe sharing is caring</h2>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
