<%- include('../partials/html-head') %>
<link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous"
>
<link rel="stylesheet" href="/stylesheets/recipes/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1 class="recipe-nd"><%= recipe.name %></h1>
  <h2 class="recipe-own-name">By: <%= recipe.owner.name %></h2>
<section>
  <div class="show-list">
      <p>Recipe name: <%= recipe.name %></p>
      <p>Total time: <%= recipe.totalTime %></p>
      <p>Ingredients: <%= recipe.ingredients %></p>
      <p>Directions: <%= recipe.directions %></p>
  </div>
</section>

  <form 
    action="/recipes/<%= recipe._id %>/reviews" method="POST">
    <label class="review-text"for="content-textarea">Review:</label>
    <textarea name="content" id="textarea"></textarea>
    <label class="review-text" for="rating-select">Rating:</label>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <button type="submit"  class="btn btn-primary">Add Review</button>
  </form>
  
  <% if(recipe.owner.equals(user?.profile._id)){ %>
    <a class="edit-link" href="/recipes/<%= recipe._id%>/edit">Edit</a>
  <% } %>
  <% recipe.reviews.forEach(review => { %>
    <ul class="review-content">
      <li ><%= review.rating %>
      <%= review.content %></li>
    </ul>
  <% }) %>
    
</main>
<%- include('../partials/footer') %>