<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= recipe.name %></h1>
  <h2>By: <%= recipe.owner.name %></h2>
<section>
  <div class="show-list">
      <p>Recipe name: <%= recipe.name %></p>
      <p>Total time: <%= recipe.totalTime %></p>
      <p>Ingredients: <%= recipe.ingredients %></p>
      <p>Directions: <%= recipe.directions %></p>
    </div>
</section>
</main>
<%- include('../partials/footer') %>